<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="image/favicon-32x32.png">
    <title>Jaita98News</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>

<body>
     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark barra1">
        <a class="navbar-brand" th:href="@{/}">
            <img src="image/Logo1.jpg" alt="Logo Jaita98News">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{sezione(categoria='cronaca')}">Cronaca</a>
                        <a class="dropdown-item" th:href="@{sezione(categoria='politica')}">Politica</a>
                        <a class="dropdown-item" th:href="@{sezione(categoria='sport')}">Sport</a>
                        <a class="dropdown-item" th:href="@{sezione(categoria='economia')}">Economia</a>
                        <a class="dropdown-item" th:href="@{sezione(categoria='cultura')}">Cultura</a>
                        <a class="dropdown-item" th:href="@{sezione(categoria='scienza e tecnologia')}">Scienza e Tecnologia</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{contatti}">Contatti</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{chisiamo}">Chi Siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{lavoro}">Lavora con noi</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenuto Homepage -->
    <div class="container mt-4">
        <!-- Sezione Elenco Articoli e Ultimo Articolo in Evidenza -->
        <h2 th:text="'News'"></h2>
        <div class="row">
            <!-- Articoli regolari -->
            <div class="col-md-8">
				<div th:if="${#lists.isEmpty(listaArticoli)}">
					<img th:src="@{image/ominotrasp.png}" class="img-fluid" alt="Immagine Zero Risultati">
					<h4>Risultati della ricerca: 0</h4>
					</div>
                <div class="mb-4">
                    <!-- Itera sugli articoli regolari -->
                    <div th:each="a:${listaArticoli}">
                        <p>&nbsp;</p>
                        <a th:href="@{dettaglio(id=${a.id})}" class="article-link">
                            <div class="card mb-4">
                                <img th:src="@{'image/'+${a.immagine}}" class="card-img-top" alt="Immagine articolo">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${a.titolo}"></h5>
                                    <p class="card-text" th:text="${a.sottotitolo}"></p>
                                    <p class="card-text" th:text="${a.autore}+ ' ultimo aggiornamento: ' +${#temporals.format(a.dataPubblicazione,'dd-MM-yyyy')}"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Articolo in Evidenza -->
            <div class="col-md-4">
                <h2 th:text="'In Evidenza'"></h2>
                <!-- Articolo In Evidenza -->
                <a th:href="@{dettaglio(id=${listaEvidenza[3].id})}" class="article-link">
                    <div class="card">
                        <img th:src="@{'image/'+${listaEvidenza[3].immagine}}" class="card-img-top" alt="Immagine Articolo">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${listaEvidenza[3].titolo}"></h5>
                            <p class="card-text" th:text="${listaEvidenza[3].sottotitolo}"></p>
                            <p class="card-text" th:text="${listaEvidenza[3].autore}+ ' ultimo aggiornamento: ' +${#temporals.format(listaEvidenza[3].dataPubblicazione,'dd-MM-yyyy')}"></p>
                        </div>
                    </div>
                </a>

                <!-- Form di Ricerca -->
                <div class="mt-4">
                    <h2>Form di Ricerca</h2>
                    <form class="search-form" method="get" th:action="@{/}">
                        <div class="form-group">
                            <label for="searchInput">Cerca per parola</label>
                            <input type="text" class="form-control" id="searchInput" name="richiesta"
                                placeholder="Inserisci una parola chiave">
                        </div>
                        <button type="submit" class="btn">Cerca</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-white text-center py-3 mt-4 barra">
        <p>Partita IVA: 00123456789</p>
        <p>Email: info@jaita98news.com</p>
        <p>Telefono: +39 0123 456789</p>
        <p>Indirizzo: Via della Stampa, 22, 00100 Roma, Italia</p>
        <p>&copy; 2024 Jaita98News. Tutti i diritti riservati.</p>
    </footer>

    <!-- File JavaScript di Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

