<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollice Verde | Homepage</title>
    <link rel = "icon" type = "image/png" href = "minilogo.png">
    <link href="style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div id="contenitore">
        <div id="head">
            <img src="banner4.png" id="banner" alt="banner"/>
        </div>
        <div id="main">
            <div id="menu">
                <ul>
                    <li> <a href="#">Home</a></li> 
                    <li> <a href="index_3.html">Chi siamo</a></li> 
                    <li> <a href="index_2.html">Blog</a></li> 
                    <li> <a href="#">Contatti</a></li> 
                    <li> <a href="#">Lavora con noi</a></li> 
                </ul> 
            </div>
            <div id="tendina">
                <select name="menu" class="casella">
                    <option selected="selected">Home</option>
                    <option value="chisiamo">Chi siamo</option>
                    <option value="blog">Blog</option>
                    <option value="contatti">Contatti</option>
                    <option value="lavoraconnoi">Lavora con noi </option>
                </select>
            </div> 
            <div id="articolo">
               <h2>Il giardino di Virginia Woolf</h2>
               <p>Il bellissimo giardino di Monk’s House, la casa nel Sussex ai piedi delle Downs, fu una grande fonte di ispirazione per Virginia Woolf, che scrisse qui, nello studio in fondo alla proprietà, la maggior parte dei suoi romanzi. Leonard e Virginia apportarono cambiamenti notevoli al giardino, ma dal 1969, anno della morte di Leonard, il suo assetto è rimasto immutato. Finora era stato scritto ben poco della sua storia e nessuno lo aveva visto in fotografia. Questo volume presenta una raccolta unica dei commenti di Virginia e racconta in che modo il giardino è stato conservato negli anni. 
                Una donna alla ricerca di un'altra donna.</p><br/>
               <img src="foto_botanica.jpg" class="foto" alt="disegni botanica"/> <br/>
               <p>Caroline Zoob ha vissuto 10 anni insieme al marito a Monk’s House, come affittuaria del National Trust, l’ente che possiede e gestisce la proprietà dal 1980. Per 10 anni ha curato il giardino, aperto la casa al pubblico e mantenuto quotidianamente l’identità immutata del luogo.
                Caroline si tuffa allora nei diari di Virginia e Leonard e ricostituisce la storia della casa e del giardino di Monk’s House. Il suo racconto e le fotografie di Caroline Arber ci svelano un giardino intimo dall’atmosfera unica, curato con amore come fu ai tempi di Leonard e Virginia.</p><br/>
                <p id="firma">La redazione, 3 ottobre 2023</p>
            </div>
            <div id="notizie">
                <ol>
                    <li><a href="index_2.html">Perché hai bisogno di piante nella tua vita</a></li>
                    <li><a href="#">Il giardino di Virginia Woolf</a></li>
                    <li><a href="#">Piante che passione!</a></li>
                    <li><a href="#">Perchè scegliere un girasole?</a></li>
                    <li><a href="#">Viole o Iris?</a></li>
                </ol>
            </div>
            <div id="footer">
                <div id="contatti">
                    Tel.: <a href="tel:+39068770042">06 87770042</a> <br/> 
                    Email: <a href="mailto:info@piante.it">info@generation.org</a><br/> 
                    P.Iva: 1234567890 
                </div>
                <div id="calendario">
                    <table>
                        <tr>
                            <td>04 &nbsp;</td>
                            <td>10 &nbsp;</td>
                            <td>23</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    
    
</body>
</html>