<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollice Verde | 04/10/2023</title>
    <link href="style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div id="contenitore">
        <div id="head">
            <img src="banner4.png" id="banner" alt="banner"/>
        </div>
        <div id="main">
            <div id="menu">
                <ul>
                    <li> <a href="index.html">Home</a></li> 
                    <li> <a href="index_3.html">Chi siamo</a></li> 
                    <li> <a href="#">Blog</a></li> 
                    <li> <a href="#">Contatti</a></li> 
                    <li> <a href="#">Lavora con noi</a></li> 
                </ul> 
            </div>
            <div id="articolo">
               <h2>Perché hai bisogno di piante nella tua vita</h2>
               <p>Senza entrare in complesse teorie, potremmo dire che gli esseri umani tendono a circondarsi di cose per due ragioni principali: necessità e desiderio. La classificazione è abbastana semplice e utile, poiché abbiamo oggetti indispensabili per poter vivere o che facilitano i processi vitali, mentre altri sono legati al piacere estetico o al semplice desiderio di possesso. Ho bisogno di avere una cucina a casa, ma non ho bisogno di quel vaso di porcellana, non importa quanto sia carino. Il vaso è un capriccio sacrificabile. C'è chi inserisce le piante nella categoria di quelle cose che ci piacciono, ma non sono essenziali. Tuttavia, la verità è che abbiamo bisogno delle piante nella vita. Così come abbiamo bisogno di dormire e mangiare, un po' di verde è essenziale per il nostro benessere.</p><br/>
               <img src="foto_blog.jpg" class="foto"/> <br/>
               <p>Tutto inizia con uno studio di Charles Hall e Melinda Knuth della Texas A&M University, che è stato pubblicato nel Journal of Enviromental Horticulture nel 2011 ed è diventato molto popolare nei mass media. Questo studio aveva il compito di verificare gli effetti positivi delle piante da interno nella gestione dell'ansia, nella riduzione dello stress, nel deficit di attenzione, oltre a migliorare la memoria, ridurre la depressione e aumentare la sensazione di felicità e soddisfazione. Come se non bastasse, le piante hanno anche un impatto positivo sulla produttività, creatività, attenzione, autostima e persino sulla gestione dello stress post-traumatico.</p><br/>
               <p id="firma">La redazione, 4 ottobre 2023</p>
            </div>
            <div id="notizie">
                <ol>
                    <li><a href="#">Perché hai bisogno di piante nella tua vita</a></li>
                    <li><a href="index_4.html">Il giardino di Virginia Woolf</a></li>
                    <li><a href="#">Piante che passione!</a></li>
                    <li><a href="#">Perchè scegliere un girasole?</a></li>
                    <li><a href="#">Viole o Iris?</a></li>
                </ol>
            </div>
            <div id="footer">
                <div id="contatti">
                    Tel.: <a href="tel:+39068770042">06 87770042</a> <br/> 
                    Email: <a href="mailto:info@piante.it">info@generation.org</a> <br/> 
                    P.Iva: 1234567890
                </div>
                <div id="calendario">
                    <table>
                        <tr>
                            <td>04 &nbsp;</td>
                            <td>10 &nbsp;</td>
                            <td>23</td>
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
       
    </div>
    
</body>
</html>