<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollice Verde | Homepage</title>
    <link rel = "icon" type = "image/png" href = "minilogo.png">
    <link href="style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div id="contenitore">
        <div id="head">
            <img src="banner4.png" id="banner" alt="banner"/>
        </div>
        <div id="main">
            <div id="menu">
                <ul>
                    <li> <a href="#">Home</a></li> 
                    <li> <a href="index_3.html">Chi siamo</a></li> 
                    <li> <a href="index_2.html">Blog</a></li> 
                    <li> <a href="#">Contatti</a></li> 
                    <li> <a href="#">Lavora con noi</a></li> 
                </ul> 
            </div>
            <div id="tendina">
                <select name="menu" class="casella">
                    <option selected="selected">Home</option>
                    <option value="chisiamo">Chi siamo</option>
                    <option value="blog">Blog</option>
                    <option value="contatti">Contatti</option>
                    <option value="lavoraconnoi">Lavora con noi </option>
                </select>
            </div> 
            <div id="articolo">
                <h2>Benvenuti!</h2>
                <p>Le piante sono nostre amiche e compagne di stanza. Proprio come noi, le piante hanno bisogno di acqua, aria, cibo e tanto amore. Con i prodotti giusti inizierai a scoprire una realtà piena di passione verde, e inoltre tutti i prodotti Undergreen sono consentiti in agricoltura biologica. Sul nostro blog inoltre troverai molti suggerimenti e trucchi per la cura delle tue amiche verdi. Vieni, tuffati nel mondo di <span class="evidenzia">Pollice Verde!</span></p><br/>
                <img src="foto_home.jpg" class="foto" alt="foto piante"/> <br/>
                <p id="firma">La redazione, 4 ottobre 2023</p>
             </div>
            <div id="notizie">
                <ol>
                    <li><a href="index_2.html">Perché hai bisogno di piante nella tua vita</a></li>
                    <li><a href="index_4.html">Il giardino di Virginia Woolf</a></li>
                    <li><a href="#">Piante che passione!</a></li>
                    <li><a href="#">Perchè scegliere un girasole?</a></li>
                    <li><a href="#">Viole o Iris?</a></li>
                </ol>
            </div>
            <div id="footer">
                <div id="contatti">
                    Tel.: <a href="tel:+39068770042">06 87770042</a> <br/> 
                    Email: <a href="mailto:info@piante.it">info@generation.org</a><br/> 
                    P.Iva: 1234567890 
                </div>
                <div id="calendario">
                    <table>
                        <tr>
                            <td>04 &nbsp;</td>
                            <td>10 &nbsp;</td>
                            <td>23</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    
    
</body>
</html>