<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollice Verde | Chi siamo</title>
    <link href="style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div id="contenitore">
        <div id="head">
            <img src="banner4.png" id="banner" alt="banner"/>
        </div>
        <div id="main">
            <div id="menu">
                <ul>
                    <li> <a href="index.html">Home</a></li> 
                    <li> <a href="#">Chi siamo</a></li> 
                    <li> <a href="index_2.html">Blog</a></li> 
                    <li> <a href="#">Contatti</a></li> 
                    <li> <a href="#">Lavora con noi</a></li> 
                </ul> 
            </div>
            <div id="articolo">
               <h2>Chi siamo</h2>
               <p><span class="evidenzia">Pollice Verde</span> è una start-up di fiori nata a Barcellona nel 2016: il suo obiettivo principale è portare la magia dei fiori freschi in tutta Italia. Come? Da una parte, <span class="evidenzia">Pollice Verde</span> ha accorciato la filiera tra coltivatore e cliente, affinché i fiori arrivino direttamente dal campo nelle tue mani in sole 24 ore. Il loro profumo naturale arriverà direttamente a casa tua! Inoltre, ha reso quest’esperienza, tanto magica quanto semplice, accessibile a tutti, con prezzi chiari e trasparenti.</p> <br/>
               <img src="foto_chisiamo.jpg" class="foto"/><br/>
               <p id="firma">La redazione, 12 ottobre 2022</p><br/>
            </div>
            <div id="notizie">
                <ol>
                    <li><a href="index_2.html">Perché hai bisogno di piante nella tua vita</a></li>
                    <li><a href="index_4.html">Il giardino di Virginia Woolf</a></li>
                    <li><a href="#">Piante che passione!</a></li>
                    <li><a href="#">Perchè scegliere un girasole?</a></li>
                    <li><a href="#">Viole o Iris?</a></li>
                </ol>
            </div>
            <div id="footer">
                <div id="contatti">
                    Tel.: <a href="tel:+39068770042">06 87770042</a> <br/> 
                    Email: <a href="mailto:info@piante.it">info@generation.org</a><br/> 
                    P.Iva: 1234567890 
                </div>
                <div id="calendario">
                    <table>
                        <tr>
                            <td>04 &nbsp;</td>
                            <td>10 &nbsp;</td>
                            <td>23</td>
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
        
    </div>
    
</body>
</html>